body
{
    background: black;
}
.block
{
    background-color: orange;
    height: 50px;
    width: 100px;
    margin-top: 5px;
}
.parent
{
    width: 100%;
}
.peak
{
    background-color: #ffd800;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.line
{
    margin-top: 500px;
    display: inline-block;
    margin-left: 20px;
    position: relative;
}
.line:nth-child(2)
{
    
    margin-top: 665px;
    margin-left: 20px;
    
}
.line:nth-child(3)
{
    
    margin-left: 20px;
    margin-top:335px;
}
.line:nth-child(4)
{    
    margin-left: 20px;
    margin-top: 225px;
}
.line:last-child
{
    margin-left: 20px;
    margin-top: 610px;
}
.one
{
    background-color: #ffd700
}
.two
{
    background-color: #ffba00;
}
.three 
{
    background-color: #ffb300;
}